<h1>Curso Angular</h1>

<p *ngIf="!isAvaileble; else available">Lazamiento: {{launchDate | date: "dd MMM y h:mm:ss":"-0000" | uppercase}}</p>

<ng-template #available>
    <span class="hightlight">Curso disponible</span>
</ng-template>

<div class="category"   [ngSwitch]="category">
    <span *ngSwitchCase="'web'">Desarrollo Web</span>
    <span  *ngSwitchCase="'mobile'">Desarrollo Móvil</span>
    <span  *ngSwitchCase="'other'">Desarrollo General</span>
    <span  *ngSwitchDefault>No especificado</span>
</div>

<h3 >Tutor: {{ name }}</h3>
<div class="">
    <!-- <a>Más información<i class="fa " [ngclass]="{'fa-chevron-down': !moreInformation, 'fa-chevron-up': moreInformation}"></i></a> -->
    <a (click)="toggleMoreInformation()">Más información<i class="fa " [class.fa-chevron-down]="!moreInformation"  [class.fa-chevron-up]="moreInformation" ></i></a>
    <p *ngIf="moreInformation" >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Quisquam, dolor inventore! Minima ut odio nulla repudiandae eaque inventore delectus nisi possimus magnam!
    </p>
</div>
<ul>
    <li *ngFor="let topic of topics; ">{{topic}}</li>
</ul>
<div>
    <button [disabled]="!isAvaileble || !subscribed" [ngClass]="{active: isAvaileble && subscribed, shadow: !isAvaileble}" type="button" name="button">Inscribirse {{price | currency: 'ARS'}}</button>
</div>